<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.standardproject">

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 百度地图权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.standardproject.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.standardproject.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".TheApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />
        <!-- baidu start -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="tG4M0IWY0othmN2a2NjabAGLGrBH19AA" />
        <!-- baidu end -->
        <!-- shareSDK分享 -->
        <!--
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        -->


        <!-- 极光推送 -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.standardproject" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.standardproject" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.standardproject" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".recriver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.standardproject" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="0af2c0258af575540877c2d1" />
        <!-- </>值来自开发者平台取得的AppKey -->
        <!-- 极光推送 -->

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--
        &lt;!&ndash; 支付宝分享回调 &ndash;&gt;
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        -->


        <!-- 支付宝alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!--
        <receiver android:name=".app.shopping.weixin.util.AppRegister" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        -->
        <!-- QQ登录的回调 1 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent222222" />
                <!-- 例如你的AppId是”222222″，则<data>标签应该是以上这样      测试AppId:100380359 100381104 222222 这是我自己的 1104824806 -->
            </intent-filter>
        </activity>

        <!-- QQ登录的回调 2 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Main"
            android:label="@string/title_activity_activity__main" />
        <activity
            android:name=".Activity_My"
            android:label="@string/title_activity_activity__my" />
        <activity
            android:name=".Activity_Category"
            android:label="@string/title_activity_activity__category" />
        <activity
            android:name=".common.PublicDemoActivity"
            android:label="@string/title_activity_standard_demo" />
        <activity
            android:name=".common.PayActivity"
            android:label="@string/title_activity_pay" />
        <activity
            android:name=".common.LoginRegActivity"
            android:label="@string/title_activity_login_reg" />
        <activity
            android:name=".common.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".common.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".common.ShareActivity"
            android:label="@string/title_activity_share" />
        <activity
            android:name=".common.ScanActivity"
            android:label="@string/title_activity_scan" />
        <activity android:name=".util.qrcode.CaptureActivity" />
        <activity
            android:name=".common.UploadActivity"
            android:label="@string/title_activity_upload" />
        <activity
            android:name=".common.SuggestionActivity"
            android:label="@string/title_activity_suggestion" />
        <activity
            android:name=".common.MyDataActivity"
            android:label="@string/title_activity_my_data" />
        <activity
            android:name=".common.AdListActivity"
            android:label="@string/title_activity_advert_list" />
        <activity
            android:name=".common.RefreshActivity"
            android:label="@string/title_activity_refresh" />
        <activity
            android:name=".common.PromptActivity"
            android:label="@string/title_activity_prompt" />
        <activity
            android:name=".common.NoDataActivity"
            android:label="@string/title_activity_no_data" />
        <activity
            android:name=".common.HelpListActivity"
            android:label="@string/title_activity_help_list" />
        <activity
            android:name=".common.NoticeListActivity"
            android:label="@string/title_activity_notice_list" />
        <activity
            android:name=".common.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".common.ChangeCityActivity"
            android:label="@string/title_activity_change_city" />
        <activity
            android:name=".common.WheelViewActivity"
            android:label="@string/title_activity_wheel_view" />
        <activity
            android:name=".common.UpdatePwdActivity"
            android:label="@string/title_activity_update_pwd" />
        <activity
            android:name=".common.UpdateInfoActivity"
            android:label="@string/title_activity_update_info" />
        <activity
            android:name=".common.PhotoViewActivity"
            android:label="@string/title_activity_photo_view" />
        <activity
            android:name=".common.CommentActivity"
            android:label="@string/title_activity_comment" />
        <activity
            android:name=".common.CollectActivity"
            android:label="@string/title_activity_collect" />
        <activity
            android:name=".common.WelcomeActivity"
            android:label="@string/title_activity_welcome" />
        <activity
            android:name=".common.GuideActivity"
            android:label="@string/title_activity_guide" />
        <activity
            android:name=".common.DropDownActivity"
            android:label="@string/title_activity_drop_down" />
        <activity
            android:name=".common.ForgetPwdActivity"
            android:label="@string/title_activity_forget_pwd" />
        <activity
            android:name=".common.RecycleViewActivity"
            android:label="@string/title_activity_forget_pwd" />
        <activity
            android:name=".common.NewLayoutActivity"
            android:label="@string/title_activity_forget_pwd" />
        <activity android:name=".common.ShadowLayoutActivity" />
        <activity android:name=".common.BaiduLocationActivity" />
        <activity android:name=".common.BottomSheetActivity" />
        <activity android:name=".common.BotttomSheet1Activity" />
        <activity android:name=".common.BottomSheet2Activity" />
        <activity android:name=".common.BottomSheet3Activity" />
        <activity android:name=".common.ToolbarActivity" />
        <activity android:name=".common.CommentAndCollectActivity" />
        <activity android:name=".common.WebViewActivity" />
        <activity android:name=".common.SVGActivity" />
        <activity android:name=".common.ForgetPwActivity" />
        <activity android:name=".common.GuideMaskActivity" />
        <activity android:name=".common.RippleActivity"></activity>
    </application>

</manifest>